In [1]:
# Ignore
%load_ext sql
%sql sqlite://
%config SqlMagic.feedback = False

## Create a Table

In [2]:
%%sql

-- Create a table of criminals
CREATE TABLE criminals (pid, name, age, sex, city, minor);
INSERT INTO criminals VALUES (412, 'James Smith', 15, 'M', 'Santa Rosa', 1);
INSERT INTO criminals VALUES (234, 'Bill James', 22, 'M', 'Santa Rosa', 0);
INSERT INTO criminals VALUES (632, 'Stacy Miller', 23, 'F', 'Santa Rosa', 0);
INSERT INTO criminals VALUES (621, 'Betty Bob', NULL, 'F', 'Petaluma', 1);
INSERT INTO criminals VALUES (162, 'Jaden Ado', 49, 'M', NULL, 0);
INSERT INTO criminals VALUES (901, 'Gordon Ado', 32, 'F', 'Santa Rosa', 0);
INSERT INTO criminals VALUES (512, 'Bill Byson', 21, 'M', 'Santa Rosa', 0);
INSERT INTO criminals VALUES (411, 'Bob Iton', NULL, 'M', 'San Francisco', 0);

[]

## Select Everything In That Table

In [3]:
%%sql

-- Select everything
SELECT *

-- From the table 'criminals'
FROM criminals

[(412, u'James Smith', 15, u'M', u'Santa Rosa', 1),
 (234, u'Bill James', 22, u'M', u'Santa Rosa', 0),
 (632, u'Stacy Miller', 23, u'F', u'Santa Rosa', 0),
 (621, u'Betty Bob', None, u'F', u'Petaluma', 1),
 (162, u'Jaden Ado', 49, u'M', None, 0),
 (901, u'Gordon Ado', 32, u'F', u'Santa Rosa', 0),
 (512, u'Bill Byson', 21, u'M', u'Santa Rosa', 0),
 (411, u'Bob Iton', None, u'M', u'San Francisco', 0)]

## References:

- [Chris Albon Blog](https://chrisalbon.com/sql/create_a_table.html)